@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
}

.bgt{
    background-color: red
}

.Sidebar{
    /* background-color: #1a202c; */
    height: 91vh;
    /* width: 20vw; */
    margin: 0px;
    border-radius: 0px;
    /* box-shadow: 5px 5px 24px 4px #000000; */
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1; */
}