@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --copy-light: 97, 84, 120;
  --copy-lighter: 135, 120, 16;
  --borderr: 222, 218, 229;
  --primary-inactive: 235, 215, 254;
  /* --card-bg: 251, 251, 252; */
  --card-bg: 239, 237, 242;
  /* set 100 value of primary in light */
}

.dark {
  --copy-light: 215, 210, 223;
  --copy-lighter: 162, 150, 181;
  --borderr: 61, 53, 75;
  --primary-inactive: 48, 18, 137;
  --card-bg: 36, 32, 45;
  /* set 800 value of primary in light */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-color: aqua; */
}
/* 
@media (max-width: 767px) {
  body {
    font-size: 10px;
  }
} */

.content{
  height: 100%;
}

@media (max-width: 767px) {
  .content{
      height: 93vh;
  }
}

